:root {
  --primary: #E57067; // FF4A4A - FF776D - E57067
  --accent: #9b60c1;
  --text: rgb(45 45 45 / 95%);
  --back: #fffefe;
  --back-wallet: #ffeded;
  --text-wallet: #FF4A4A;
  --back-wallet-hover: #f6e6ffbf;
  --back-gradient: radial-gradient(circle at center 400px, rgb(245 173 173 / 11%), #fffaff) 0% 0% / cover fixed;
  // --back-gradient: linear-gradient(rgb(245 173 173 / 11%) 0%, #fffaff 100%);
  
  // temp
  --back-act: #fff8f7;
  --back-act: #fffdfd;
}

[data-theme="dark"] {
  --primary: #FF4A4A;
  --accent: #d17aff;
  --text: #ffffffe6;
  --back: rgba(160, 68, 68, 0.603);
  --back-wallet: #854a4a;
  --text-wallet: #ffffffe6;
  --back-wallet-hover: #2d202f8f;
  --back-gradient: linear-gradient(#FF4A4A 0%, #c93b3b 100%);
}

// $primary: var(--primary);