// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');
@import "./colors.scss";
@import "./resets.scss";

html,
body {
  background: var(--back);
  color: var(--text);
  font-family: "Shanti", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-bottom: 40px;
}

a {
  color: var(--text);
  font-family: "Shanti", sans-serif;
  // font-weight: 500;
  text-decoration: none;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  &:hover {
    cursor: pointer;
    // color: var(--text) !important;
    text-decoration: none !important;
  }
}

.primary {
  color: var(--primary);
}

.accent {
  color: var(--accent);
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
}

.flex.vert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numeric {
  font-family: 'Consolas', Courier, monospace;
}

// .space {
//   width: 24px;
// }

a,
button {
  &.grph {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    font-size: 22px;
    color: #fff;
    background: radial-gradient(174.47% 188.91% at 1.84% 10%, #ff7575 20%, #ec0e5c 80%), rgb(237, 238, 242);
    box-shadow: rgb(15 10 12 / 18%) 8px 8px 18px 0px, rgba(255, 255, 255, 0.075) 8px -8px 16px 0px;
    min-width: 190px;
    padding: 10px 20px;
    border: none;
    margin: 20px 0px;
    font-weight: 100;
    transition: all 0.1s linear;
    &:hover {
      box-shadow: none;

    }
  }
}

@media only screen and (max-width: 1400px) {
  body {
    background: var(--back-gradient);
    // add custom
  }
}

// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }

.vue-picker {
  width: 100%;

  &:not(.vue-picker--has-val) > .vue-picker__opener {
    color: rgba(255, 74, 74, 0.4) !important;
  }
  .vue-picker__opener-txt {
    font-weight: bold;
  }
  .vue-picker-option:hover:not(:disabled) {
    background-color: #ffffffbf;
    cursor: pointer;
  }
  .vue-picker-option:nth-child(2n) {
    background: #0000000a;
  }
  .vue-picker__dropdown {
    background: #ffeded;
    border: none;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 10px -7px #00000017;
  }
}
.vue-picker__opener {
  cursor: pointer;
  background: none;
  text-align: start;
  width: inherit;
  border: none !important;
  padding: 10px;
  display: grid;
  grid: ". ico"/1fr auto;
  gap: 10px;
  align-items: center;
  height: 46px;
  color: #ff4a4a !important;
  &:focus {
    outline: none;
    border-color: var(--col);
    box-shadow: unset !important;
  }
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
