@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");
@import "./style/resets.scss";
@import "./tailwind.css";
// @import "./style/colors.scss";

html,
body {
  background: var(--back-gradient);
  color: var(--text);
  font-family: "Shanti", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  &.navresp {
    overflow: hidden;
  }
}

a {
  color: var(--text);
  font-family: "Shanti", sans-serif;
  // font-weight: 500;
  text-decoration: none;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  &:hover {
    cursor: pointer;
    // color: var(--text) !important;
    text-decoration: none !important;
  }
}

.primary {
  color: var(--primary);
}

.accent {
  color: var(--accent);
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
}

.flex.vert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numeric {
  font-family: "Consolas", Courier, monospace;
}

.center {
  text-align: center;
}

a,
button {
  &.grph {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    font-size: 22px;
    color: #fff;
    // background: radial-gradient(174.47% 188.91% at 1.84% 10%, #ff7575 20%, #ec0e5c 80%), rgb(237, 238, 242);
    background: var(--primary);
    box-shadow: rgb(15 10 12 / 18%) 8px 8px 18px 0px, rgba(255, 255, 255, 0.075) 8px -8px 16px 0px;
    min-width: 190px;
    padding: 10px 20px;
    border: none;
    margin: 20px 0px;
    font-weight: 100;
    transition: all 0.1s linear;
    &:hover {
      box-shadow: none;
    }

    @media (max-width: 420px) {
      display: block;
    }
  }
}

h1 {
  font-size: 42px;
  line-height: 84px;
  @media (max-width: 420px) {
    font-size: 32px;
    line-height: 64px;
  }
}

h2 {
  font-size: 32px;
  line-height: 64px;
  @media (max-width: 420px) {
    font-size: 24px;
    line-height: 48px;
  }
}

h3 {
  font-size: 24px;
  line-height: 48px;
  @media (max-width: 420px) {
    font-size: 18px;
    line-height: 36px;
  }
}

h4 {
  font-size: 18px;
  line-height: 36px;
  @media (max-width: 420px) {
    font-size: 18px;
    line-height: 36px;
  }
}

.card {
  h1 {
    font-size: 42px;
    line-height: 46px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 1400px) {
  body {
    background: var(--back-gradient);
    // add custom
  }
}

@keyframes unimate {
  0%, 100% { transform: rotate(20deg); }
  8.3% { transform: rotate(8deg); }
  16.6% { transform: rotate(0deg); }
  24.9% { transform: rotate(0deg); }
  33.3% { transform: rotate(-30deg); }
  41.6% { transform: rotate(-30deg); }
  49.9% { transform: rotate(-20deg); margin-right: 0px; }
  58.3% { transform: rotate(-10deg); margin-right: 20px; }
  66.6% { transform: rotate(15deg); margin-right: 0px; }
  74.9% { transform: rotate(0deg); }
  83.3% { transform: rotate(0deg); }
  91.6% { transform: rotate(20deg); }
}

// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }

.vue-picker {
  width: 100%;

  &:not(.vue-picker--has-val) > .vue-picker__opener {
    color: #0000001c !important;
  }
  .vue-picker__opener-txt {
    font-weight: bold;
  }
  .vue-picker-option {
    border-top: 1px solid #0000000f;
    background: var(--back-act) !important;
  }
  .vue-picker-option:hover:not(:disabled) {
    // background-color: #ffffffbf;
    cursor: pointer;
  }
  .vue-picker__dropdown {
    // background: #ffeded;
    border: none;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 15px -5px #00000017;
  }
}
.vue-picker__opener {
  cursor: pointer;
  background: none;
  text-align: start;
  width: inherit;
  border: none !important;
  padding: 10px;
  display: grid;
  grid: ". ico"/1fr auto;
  gap: 10px;
  align-items: center;
  height: 46px;
  color: var(--primary) !important;
  background: var(--back-act) !important;
  &:focus {
    outline: none;
    border-color: var(--col);
    box-shadow: unset !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
